*.o
main
temp
*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
preprocessor*.txt
condition.dat
.vscode
.vs
file.dat
wall.pkl
wall.json
bspline.marshal
pseudopoints.txt
config.json

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
removal_points.txt
removal_points.txt
sensor_flag.dat
adapted.txt
neighbour.txt
Pipfile.lock
shape_generated.txt
History.txt
history.txt
output.txt
pseudopoints.txt
